@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <Button Icon="user" OnClick="onLogin" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code {
	
    private void onLogin() => NavigationManager.NavigateTo("/login");
}
