<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/leldenor/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="GustawLongfors" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>