@using SEP6.Authentication
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>SEP6</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
         <AuthorizeView>
            <Authorized>
				<Avatar Style="color: #f56a00; background-color: #fde3cf; "> A</Avatar>
                <a href="" @onclick="PerformLogout"> Log out </a>
            </Authorized>
            <NotAuthorized>
                <Button Icon="user" OnClick="onLogin" />>
            </NotAuthorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
	
    private void onLogin() => NavigationManager.NavigateTo("/login");

    public async Task PerformLogout()
    {
        try
        {
            ((AuthProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
        }
    }
}
